<% include partials/_header %>
  <div class="container">
    <div class="row">
      <!--FORM-->
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">

            <form action="/asignaturas/edit/<%= asignatura._id %>" method="post">
              <div class="form-group">
                <input class="form-control" type="text" name="nombre" value="<%= asignatura.nombre %>">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="planEstudios" value="<%= asignatura.planEstudios %>">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="quatrimestre" value="<%= asignatura.cuatrimestre %>">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="curso" value="<%= asignatura.curso %>">
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="software" value="<%= asignatura.software %>">
              </div>
              <div class="form-group">
                <label for="profesores"></label>
                <select name="profesores" id="profesores" class="form-control" multiple>
                  <% for(var i=0; i < profesores.length; i++) { %>
                    <option value="<%= profesores[i]._id %>">
                      <%= profesores[i].nombre %>
                    </option>
                    <% } %>
                </select>
              </div>
              <div class="form-group">
                <select name="alumnos" id="alumnos" class="form-control" multiple>
                  <% for(var j=0; j < alumnos.length; j++) { %>
                    <option value="<%= alumnos[j]._id %>">
                      <%= alumnos[j].nombre %>
                    </option>
                    <% } %>
                </select>
              </div>
              <button class="btn btn-primary" type="submit">
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% include partials/_footer%>