<!-- formulario edit asignaturas -->
<div class="form-group">
    <label for="profesores"></label>
    <select name="profesores" id="profesores" class="form-control" multiple>
      <% for(var i=0; i < profesores.length; i++) { %>
        <option value="<%= profesores[i]._id %>">
          <%= profesores[i].nombre %>
        </option>
        <% } %>
    </select>
  </div>
  <div class="form-group">
    <select name="alumnos" id="alumnos" class="form-control" multiple>
      <% for(var j=0; j < alumnos.length; j++) { %>
        <option value="<%= alumnos[j]._id %>">
          <%= alumnos[j].nombre %>
        </option>
        <% } %>
    </select>
  </div>

  <!-- addasignaturas -->
  <div class="form-group">
    <label for="profesores">Profesor Responsable:</label>
    <select id="multiple-checkboxes" class="form-control" multiple>
      <% for(var i=0; i < profesores.length; i++) { %>
        <option value="<%= profesores[i]._id %>">
          <%= profesores[i].nombre %>
        </option>
        <% } %>
    </select>
  </div>
  <div class="form-group">
    <label for="alumnos">Alumnos:</label>
    <select id="multiple-checkboxes" class="form-control" multiple>
      <% for(var j=0; j < alumnos.length; j++) { %>
        <option value="<%= alumnos[j]._id %>">
          <%= alumnos[j].nombre %>
        </option>
        <% } %>
    </select>
  </div>

  <!--  rutas usuarios -->
<!-- router.post('/usuarios/editusu/:id',isAuthenticated, async (req, res, next) => {
    try {
      const usuario = new user();
      const { id } = req.params;
  
      //Obtenemos el usu antiguo y el nuevo para editar la lista asignaturas de sus usuarios.
      await usuario.update({ _id: id }, req.body);
      res.redirect('/usuarios');
    } catch (error) {
      next(error);
    }
  
  }); -->
  

  