<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/usuarios/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="apellidos" placeholder="apellidos">
            </div>
            <div class="form-group">
             
                <select name="rol" class="form-control" type="select">
                  <option value="Administrador">Administrador</option>
                  <option value="Profesor" selected>Profesor</option>
                  <option value="Alumno">Alumno</option>
                </select>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="password" placeholder="password">
            </div>
            <div class="form-group">
              <label for="asignaturas">Asignaturas</label>
              <select name="asignaturas" id="asignaturas" class="form-control" multiple>
                <% for(var i=0; i < asignaturas.length; i++) { %>
                  <option value="<%= asignaturas[i]._id %>" >
                    <%= asignaturas[i].nombre %>
                  </option>
                <% } %>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Rol</th>
            <th>Email</th>
            <th>Clave</th>
            <th>Asignaturas</th>
            <th>Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < usuarios.length; i++) { %>
            <tr>
              <td class="text-center"><%= i + 1%></td>
              <td class="text-center"><strong><%= usuarios[i].nombre %></nombre></td>
              <td class="text-center"><%= usuarios[i].apellidos %></td>
              <td class="text-center"><%= usuarios[i].rol %></td>
              <td class="text-center"><%= usuarios[i].email %></td>
              <td class="text-center"><%= usuarios[i].Clave %></td>        
              <td class="text-center">
                <% for(var j=0; j < asignaturas.length; j++) { %>
                  <% if(usuarios[i].asignaturas != undefined) {%>
                  <% for(var k=0; k < usuarios[i].asignaturas.length; k++) { %>
                    <% if(asignaturas[j]._id.toString()===usuarios[i].asignaturas[k].toString()){%>
                    <span><%=asignaturas[j].nombre %></span>
                    <% } %>
                  <% } %>
                  <% } %>
                <% } %>
            </td>
              <td class="text-center">
                <a href="/usuarios/delete/<%= usuarios[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
                <a href="/usuarios/editusu/<%= usuarios[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

<% include partials/_footer %>
