<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/usuarios/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="apellidos" placeholder="apellidos">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="rol" placeholder="rol">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="email" placeholder="email">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="asignaturas" placeholder="asignaturas">
            </div>
            
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>apellidos</th>
            <th>rol</th>
            <th>email</th>
            <th>password</th>
            <th>asignaturas</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < usuarios.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= usuarios[i].nombre %></nombre></td>
              <td><%= usuarios[i].apellidos %></td>
              <td><%= usuarios[i].rol %></td>
              <td><%= usuarios[i].email %></td>
              <td><%= usuarios[i].password %></td>
              <td><%= usuarios[i].asignaturas %></td>
              <td>
                <a
                  class="<%= usuarios[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                  href="/usuarios/turn/<%= usuarios[i]._id %>">Done</a>
                <a href="/usuarios/delete/<%= usuarios[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
                <a href="/usuarios/edit/<%= usuarios[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

<% include partials/_footer %>
