<% include ../partials/_header %>
  <div class="container centrado_total">
    <div class="row mar_carta">
      <!--FORM-->
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
                <form action="/asignaturas/edit/<%= asignatura._id %>" method="post">
                <div class="form-group">
                  <input class="form-control" type="text" name="nombre" value="<%= asignatura.nombre %>">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="planEstudios" value="<%= asignatura.planEstudios %>">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="cuatrimestre" value="<%= asignatura.cuatrimestre %>">
                </div>
                <div class="form-group">
                  <input class="form-control" type="text" name="curso" value="<%= asignatura.curso %>">
                </div>
                <button class="btn btn-primary" type="submit">
                  Update
                </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <% include ../partials/_footer%>